* {
  padding: 0%;
  margin: 0%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#navbar {
  background-color: rgb(51, 51, 51);
  padding: 1%;
  position: fixed;
  width: 100vw;
  box-shadow: 5px 0 10px rgb(0, 0, 0, 0.6);
}

ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

li {
  font-size: 1.5em;
  padding: 1em;
  list-style-type: none;
  color: rgb(255, 255, 255);
  transition: transform 0.3s ease-out;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#welcome-section {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100vh;
  background-color: rgb(60, 130, 180);
  text-align: center;
  justify-content: center;
}

#projects {
  background-color: rgb(119, 136, 153);
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px;
  padding-right: 20px;
  text-align: center;
}
#projects-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 40vw;
  height: 40vw;
  box-shadow: 5px 0 10px rgb(0, 0, 0, 0.6);
}

.project-tile {
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
}

.titles {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(218, 165, 32);
}

h1 {
  font-size: 3em;
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
}

p {
  color: rgb(218, 165, 32);
}

h2 {
  font-size: 2em;
  text-align: center;
  color: rgb(255, 255, 255);
}
span {
  display: flex;
  justify-content: center;
  background-color: aqua;
}
#Contact {
  display: flex;
  width: auto;
  height: auto;
  background-color: rgb(60, 130, 180);
}

.profiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  
}
#Contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

li:hover {
    transform: translateY(8px);
  }
@media (max-width: 700px) {
  #projects-cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}
